# ---- Servidor ----
PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# ---- Base de datos MySQL ----
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=sigma_sci

# ---- Seguridad ----
JWT_SECRET=cambia_esta_clave_por_una_larga_y_aleatoria
JWT_EXPIRES=8h

# ---- Institución (encabezado de los PDF) ----
ORG_NOMBRE=Centro de Operaciones de Emergencia
ORG_SIGLA=COE
ORG_CIUDAD=Lima, Perú

# ---- WhatsApp ----
# modo "enlace"  -> genera un enlace wa.me (no requiere credenciales)
# modo "api"     -> usa WhatsApp Cloud API de Meta
WHATSAPP_MODO=enlace
WHATSAPP_TOKEN=
WHATSAPP_PHONE_ID=
